* {
    margin: 0 !important;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #19882c;
    overflow: hidden;
}

#temas {
    overflow: hidden;
    height: 0px;
}

.conteúdo {
    padding: 0;
}

.bold {
    font-weight: bold;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

.margin-5 {
    margin-left: 5px!important;
    margin-right: -5px!important;
}

.mais-acessos {
    color: #015249;
}

.azul {
    color: #0E479C;
}

.item-servicos {
    border-top: 2px solid #c5c5c9;
    padding: 48px 0;
    margin: 0 0 40px;
}

.item-servicos img {
    min-width: 101px;
    min-height: 101px;
    max-width: 180px;
    max-height: 180px;
}

.item-servicos h3 {
    color: #015249;
}

.redes-sociais {
    background-color: #eeeeee;
}

.social-centralizado {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #aaaaaa;
}

.social-centralizado span {
    font-size: 3rem;
    color: #aaaaaa;
}

.contatos {
    background-color: #017b16;
    color: #cacaca;
}

.contatos h2 {
    color: #ffffff;
}

.centralizado {
    width: 100%;
    text-align: center;
}

.rodape-mobile {
    background-color: #0F3D38;
}

.rodape-mobile p {
    color: #ffffff;
}

.rodape-mobile img {
    width: 144px;
    height: auto;
    margin: auto!important;
}

@media screen and (max-width: 768px) {
    .margin-5 {
        margin-left: 5px;
        margin-right: -5px;
    }
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        font-size: 17px;
    }
    .navbar ul {
        margin: 8px 0 0 0;
        list-style: none;
    }
    #img-logo {
        border: none!important;
        max-height: 55px;
    }
    .img-responsive {
        display: block;
        height: 55px;
    }
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    .side-nav a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 22px;
        color: #ccc;
        display: block;
        transition: 0.3s;
    }
    .side-nav a:hover {
        color: #fff;
    }
    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }
    .hamb {
        color: white;
        font-size: 30px;
    }
    .header-img {
        /*height em vw pra ficar responsivo*/
        height: 18vw;
        width: 100%;
        background-image: url(../img/cover.png);
    }
    .header-img #titulo {
        color: white;
        background-color: rgba(46, 139, 87, 0.5);
        width: 34%;
        height: 100%;
        position: relative;
        left: 60%;
        padding-top: 3%;
        padding-left: 3%;
    }
    #titulo h1 {
        position: absolute;
        font-size: 3.9vw;
        margin-top: 15%;
        bottom: 15%;
    }
    #titulo span {
        font-size: 5.3vw;
    }
    .menu {
        width: 100%;
        background-color: #025310;
        color: white;
        font-size: 25px;
    }
    .icone {
        padding: 10px;
    }
    .menu #servidor {
        width: 100%;
        background-color: #57ba8e;
    }
    .menu #empresa {
        width: 100%;
        background-color: #cf5329;
    }
    .menu #cidadao {
        width: 100%;
        background-color: #0aada5;
    }
    .menu #buscar {
        width: 100%;
        background-color: #025248;
    }
    #servidor i,
    #empresa i,
    #cidadao i,
    #buscar i {
        font-size: 8vw;
        color: white;
        text-align: center;
        margin: 5px auto;
    }
    #servidor span,
    #empresa span,
    #cidadao span,
    #buscar span {
        font-size: 4vw;
    }
    .pesquisa {
        background-color: #025248;
        color: white;
        font-size: 25px;
        padding: 10px;
    }
}

@media screen and (max-width: 380px) {
    #titulo h1 {
        font-size: 14px;
    }
    #titulo span {
        font-size: 18px;
    }
    .pesquisa button {
        font-size: 14px;
    }
}